.menu {
    display: flex;
    list-style-type: none;
    justify-content: center;
}

.menu li {
    display: block;
    cursor: pointer;
    padding: 10px;
}

.menu li:hover {
    background-color: #ededed;
}

.menu-selecionado {
    text-decoration: underline;
}